*
{
  margin: 0;
  padding: 0;
}
body
{
  margin: 0;
  padding: 0;

}
.wrapper
{
  width: 100%;
  height: 1200px;
  background-color: #ccc;
}
.menu 
{
  width: 100%;
  height: 50px;
  background-color: red;
}
.menu ul li
{
  list-style: none;
  display:inline;
}
.menu ul li a 
{
  text-decoration: none;
  padding: 30px;

}
.hm
{
  width: 100%;
  height: 500px;
  background-color: antiquewhite;
  text-align: center;
}
.hm h4,h5 ,img , button
{
margin: 20px;
}
.ss
{
  width: 100%;
  height: 500px;
  background-color: azure;
  text-align:center;
}
.ss h3
{
position: relative;
top: 30px;
}
.ss img
{
  position: relative;
top: 30px;
}
.dd
{
  width: 100%;
  height: 500px;
  background-color: blanchedalmond;
  text-align: center;
}
.dd h1
{
  position: relative;
  top:30px;
}
.dd h3
{
  color: #ccc;
  position: relative;
  top:60px;
}